################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LostAndFound/bin/Debug/net6.0
/LostAndFound/.vs/LostAndFound
/LostAndFound/obj
