@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h3>Enter name of your lost Item</h3>
        <form method="post" onsubmit="return submitForm()">
            <input type="text" id="inputValue"/>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </p>
</div>

<script>
    function submitForm(){
        var inputValue = document.getElementById('inputValue');
        window.location.href = 'ItemTable/SearchPage/'+inputValue;
        return false;
    }
</script>
